body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Not Found page css */
.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.notFound {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-image: url(./components/404-error-page-not-found.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Home */

.menuContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 0;
}

.menuCard {
  width: 40%;
  padding: 1%;
}


.menuCardContainer {
  margin: 20px 30px;
}

h1 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

h5 {
  text-align: center;
}

hr {
  margin: 0px 0px 10px;
}

.back-btn {
  margin-bottom: 30px;
}

.tagIcons {
  height: 40px;
  margin-right: 5px;
}

.pizzaPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menuCardItem {
  padding: 10px;
}